<%= form_with(model: vote, local: true) do |form| %>
  <% if vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
        <% vote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :region %>
    <%= form.text_field :region, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :constituency_name %>
    <%= form.text_field :constituency_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cpp %>
    <%= form.number_field :cpp, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ndp %>
    <%= form.number_field :ndp, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :ndc %>
    <%= form.number_field :ndc, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :ppp %>
    <%= form.number_field :ppp, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :npp %>
    <%= form.number_field :npp, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :pnc %>
    <%= form.number_field :pnc, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :ind %>
    <%= form.number_field :ind, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :total_valid_votes %>
    <%= form.number_field :total_valid_votes, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :rejected_votes %>
    <%= form.number_field :rejected_votes, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :total_votes_cast %>
    <%= form.number_field :total_votes_cast, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-block btn-info" %>
  </div>
<% end %>
